<!DOCTYPE html>
<html   ng-app="myApp">
<head  >
<meta charset="utf-8">
<title>搜索排序</title>
<script src="angular.min.js"></script>	
<script>
	var m1=angular.module('myApp',[]);
	m1.controller('mytable',['$scope','$filter',function  ($scope,$filter) {
		$scope.orldataList=[
          {name:'car',age:'18'},
          {name:'bus',age:'20'},
          {name:'am',age:'26'},
          {name:'dirt',age:'23'},
          {name:'ege',age:'24'},
          {name:'frg',age:'30'}
		];
		$scope.dataList=[
          {name:'car',age:'18'},
          {name:'bus',age:'20'},
          {name:'am',age:'26'},
          {name:'dirt',age:'23'},
          {name:'ege',age:'24'},
          {name:'frg',age:'30'}
		];
		
		$scope.fnSort= function  (arg) {
			
			arguments.callee['fnSort'+arg]=!arguments.callee['fnSort'+arg]
		 $scope.dataList=$filter('orderBy') ($scope.dataList,arg,arguments.callee['fnSort'+arg]);
	};

	$scope.fnFilter=function  ( ) {
		
		$scope.dataList=$filter('filter') ($scope.orldataList,$scope.filterVal);
	};
			
	}	] )
	
</script>
</head>
<body  ng-controller="mytable">
	
	<input type="text"  ng-model="filterVal" >
	<input  type="button"  ng-click="fnFilter()"  value="搜索">
	<table border="1px" >
		<tr>
			
			<th ng-click="fnSort('name')">名字</th>
			<th ng-click="fnSort('age')">年龄</th>
		</tr>
		<tr   ng-repeat="data in dataList ">
			<td >{{data.name}}</td>
			<td >{{data.age}}</td>
		</tr>
	</table>
</body>
</html>
