body, ul, p, h1, h2, h3, h4, dl, dd, form, input, textarea, select{ padding:0;  margin:0;  }
li{ list-style:none; }
img{  border:none; }
a { text-decoration:none; cursor: pointer; color: #666;}
a:hover { text-decoration:none ;}
 .container {
 min-width:996px ;
padding: 0;	
margin: auto;
 }
body{
	height: 1000px;
	overflow-x: hidden;  
	 }
